#autoSchedule .progerss-info{
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    width: auto;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
    padding: 10px 10px 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media(max-width:576px){
    #autoSchedule .progerss-info{
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0.2);
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
        padding: 10px 10px 5px 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}