#askAuto .start-link{
    text-decoration:none;
}

#askAuto ul{
    position: absolute;
    left: 2.5%;
    list-style-type: none;
    background-color: white;
    padding: 5px 5px 5px 5px;
    z-index: 1;
    width: 95%;
}

#askAuto ul>li:hover{
    background-color: #086788;
    color: white;
    cursor: pointer;
}

#askAuto ul .ul-help:hover{
    background-color:white;
    /* color: white; */
    cursor: pointer;
}

#askAuto .order-places{
    padding-left: 50px;
}