.Demo__autocomplete-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
  position: absolute;
  z-index: 10000;
}

.width-20{
  width: 20%;
}

.width-40{
  width: 40%;
}

.width-50{
  width: 50%;
}

.width-60{
  width: 60%;
}

.width-80{
  width: 80%;
}

.width-100{
  width: 100%;
  margin-top: 5px;
}

.order-hotel-form{
  border: 1px solid gray;
  padding: 10px 10px 10px 10px;
  margin-top: -30px;
  margin-bottom: 10px;
  margin-left: 5%;
  width: 90%;
}

.order-hotel-note{
  display: block;
  margin-top: -20px;
  margin-bottom: 10px;
}

.input-ab{
  position: relative;
  top:-38px;
  left: 0;    
}

.btn-ab{
  position: relative;
  left: 82%;
  top:-92px;
}

.onDay-ab{
  position: relative;
  top:0px;
  left: 61%; 
}

.auto-complete{
  height: 20px;
}

@media(max-width:992px){
  #askInfo h1{
    font-size: 25px;
  }
}
