#dialog{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    z-index: 99999999;
}

#dialog .dialog-block{
    display: block;        
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;    
}

#dialog .dialog-title{    
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;    
}

#dialog .dialog-btn{
    position: absolute;
    bottom: 0px;
    border-radius: 0px;
    width: 100%;
}

#dialog .dialog-body{
    /* position: relative; */
    /* height: 100%; */
    /* width: 100%; */
}

#dialog .dialog-text{
    padding: 10px 10px 10px 10px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width:576px){
    #dialog .dialog-block{
        display: block;        
        position:fixed;
        top: 50%;
        left: 50%;
        width:20em;
        height:18em;
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -10em; /*set to a negative number 1/2 of your width*/
        border: 1px solid #ccc;
        background-color: #f3f3f3;    
    }
}