#header a{
    color: gray;
}

#header a{
    pointer-events: auto;
    text-decoration-line: none;    
}

#header a:hover{    
    color: white;
}

#header .p-2:hover{
    background-color: rgba(255, 255, 255, 0.322) ;    
}

#header .p-2{
    pointer-events: none;
}

#header .fake-a{
    cursor: pointer;
}