#memberIndex .func-block{
    margin-top: 80px;
}

#memberIndex .func-text{
    position: absolute;
    font-size: 40px;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px black;
    font-weight:bold;
    bottom:20px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.6) ;
    width: 180px;
    padding-left: 10px;
    box-shadow: 3px 3px gray;
}

#memberIndex .card-img{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#memberIndex .card-bg-1{
    background-image: url('~AppSrc/img/rawpixel-211022-unsplash.jpg');
    background-size: 100%;
    height: 200px;
}

#memberIndex .card-bg-2{
    background-image: url('~AppSrc/img/jeremy-bishop-527439-unsplash.jpg');
    background-size: 100%;
    background-position: center;
    height: 200px;
}

#memberIndex .card-bg-3{
    background-image: url('~AppSrc/img/todd-quackenbush-701-unsplash.jpg');
    background-size: 100%;
    background-position: center;
    height: 200px;
}

@media(max-width:768px){    
    #memberIndex .func-text{
        position: absolute;
        font-size: 30px;
        color: #f5f5f5;
        text-shadow: 1px 1px 1px black;
        font-weight:bold;
        bottom:15px;
        left: 3px;
        background-color: rgba(255, 255, 255, 0.6) ;
        width: 140px;
        padding-left: 4px;
        box-shadow: 3px 3px gray;
    }
}

@media(max-width:576px){
    
    #memberIndex .func-block{
        margin-top: 20px;
    }

    #memberIndex .func-text{
        position: absolute;
        font-size: 35px;
        color: #f5f5f5;
        text-shadow: 1px 1px 1px black;
        font-weight:bold;
        bottom:20px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.6) ;
        width: 160px;
        padding-left: 4px;
        box-shadow: 3px 3px gray;
    }

    #memberIndex .card-img{
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}

