/* #welcome .bg{
    position: absolute;
    top:0px;
    left: 0px;
    z-index: -1;    
} */

.bg{   
    padding-top: 10%;  /* slope */
    height: 1200px;  /* start height */    
    background-image: url('~AppSrc/img/bg_airplane.jpg');
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
}

#welcome .text-hover:hover{
    text-shadow: 2px 2px gray;
}

#welcome .text-hover2:hover{
    text-shadow: 2px 2px black;
}

#welcome .logo{
    position: absolute;
    top: 20px;
    left: 70px;
    width: 200px;
}

#welcome .main-text{
    margin-top: 220px;
    padding-left: 70px;
}

#welcome .start-block{
    position: relative;
    top: -90px;
    margin-right: 60px
}

#welcome .second-block{
    margin-top: -420px;
    margin-right: 60px;    
}


#welcome ::placeholder {
    color:rgb(180, 180, 180);
    opacity: 1; /* Firefox */
}

#welcome :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:rgb(180, 180, 180);
}

#welcome ::-ms-input-placeholder { /* Microsoft Edge */
    color:rgb(180, 180, 180);
}

#welcome .about-qts{
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.85) ;
    width: 85%;
    margin: 0 auto;
    /* height: 380px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
    padding: 30px 20px 10px 30px;
}

#welcome .footer{
    margin-top: -20px;
}

#welcome .header{
    position: absolute;
    top: 0px;
    right: 80px;
}

#welcome .login-form{
    padding: 10px 20px 10px 20px;
}

#welcome .btn-link{
    border: 0px;
    cursor: pointer;
}

#welcome .pa-50{
    padding-left: 50px;
    padding-top: 5px;
}

@media(max-width:1366px){
    #welcome .start-block{
        position: relative;
        top: -60px;
        margin-right: 60px
    }
}

@media(max-width:992px){
    #welcome .start-block{
        position: relative;
        top: -40px;
        margin-right: 60px
    }
}

@media(max-width:768px){
    .bg{   
        padding-top: 10%;  /* slope */
        height: 700px;  /* start height */    
        background-image: url('~AppSrc/img/bg_airplane.jpg');
        background-size: cover;
        -moz-background-size: cover;  /* Firefox 3.6 */
        background-position: center;  /* Internet Explorer 7/8 */
    }

    #welcome .start-block{
        position: relative;
        top: 40px;
        margin-right: 0px;
    }
    
    #welcome .second-block{
        margin-top: 30px;
        margin-right: 60px;    
    }

    #welcome .bg-gray{
        background-color: white !important;
    }

    #welcome .about-qts{
        background-color: white;
        width: 90%;
        margin: 0 auto;
        /* height: 380px; */
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 50px;
        padding: 30px 20px 20px 30px;
        margin-left: 10%;
    }

    #welcome .logo{
        position: relative;
        margin: 0 auto;
    }

    #welcome .main-text{
        margin-top: 60px;
        padding-left: 70px;
    }
}

#welcome .flip{
    margin:0px;
    padding:5px;
    text-align:center;
    background:#E09697;
    cursor:pointer;
    font-family:'Arial';
}

#welcome .panel{
    margin:0px;
    padding:5px;
    text-align:center;
    background:#e5eecc;
    border:solid 1px #c3c3c3;
    display:none;
    font-family:'Arial';
}

@media(max-width:576px){
    #welcome .header{
        position: absolute;
        top: 0px;
        right: 0px;
    }
}