#footer{
    display: block;
    /* height: 300px; */
}

#footer .icon{
    margin-left: 30px;
    width: 50px;
    margin-top: 30px;
}

#footer ul{
    list-style-type:none;
    margin: 0 auto;
    position: relative;
    left: -15px;
}