body{
    /* font-family:  */
    background-color: #f5f5f5;
}

/* background color */
.bg-light-blue{
    background-color: #06AED5;
}

.bg-dark-blue{
    background-color: #086788;
}

.bg-yellow{
    background-color: #F0C808;
}

.bg-light-yellow{
    background-color: #FFF1D0;
}

.bg-red{
    background-color: #B50000;
}

.bg-gray{
    background-color:#f5f5f5;
}

.bg-alpha{
    background-color: rgba(255, 255, 255, 0.322) ;
}

.bg-green{
    background-color: #8AEA92;
}

.bg-cement{
    background-color: #93B7BE;
}

/* text color */
.text-white{
    color: white;
}

.text-black{
    color: black;
}

.text-gray{
    color: gray;
}

.text-light-gray{
    color: #d5d5d5;
}

.text-dark-blue{
    color: #086788;
}

/* text-size */
.text-sm{

}

.text-default{
    font-size: 16px;
}

.text-md{
    font-size: 18px;
}

.text-lg{

}

.text-title{

}

.text-sub-title{
    font-size: 22px;
    font-weight: 600;    
}

/* text-style */
.text-shadow{
    text-shadow: 2px 2px gray;    
}

/* button style */

.btn-info-c {
    color: #fff;
    background-color: #086788;
    border-color: #086788;
  }
  
  .btn-info-c:hover {
    color: #fff;
    background-color: #074a61;
    border-color: #074a61;
  }
  
  .btn-info-c:focus, .btn-info-c.focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  }
  
  .btn-info-c.disabled, .btn-info-c:disabled {
    color: #fff;
    background-color: #086788;
    border-color: #086788;
  }
  
  .btn-info-c:not(:disabled):not(.disabled):active, .btn-info-c:not(:disabled):not(.disabled).active,
  .show > .btn-info-c.dropdown-toggle {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
  }
  
  .btn-info-c:not(:disabled):not(.disabled):active:focus, .btn-info-c:not(:disabled):not(.disabled).active:focus,
  .show > .btn-info-c.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  }
  
/* width */
.w-100{
    width: 100%;
}

/*  */
.Demo__some-network {
    vertical-align: top;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
  }
  
  .Demo__some-network__share-count {
    margin-top: 3px;
    font-size: 12px;
  }
  
  .Demo__some-network__share-button {
    cursor: pointer;
  }
  
  .Demo__some-network__share-button:hover:not(:active) {
    opacity: 0.75;
  }