#travelCard .rating-score-text{
    position: relative;   
    top:2px;
}

#travelCard .card-img{
    width: auto;
    height:200px;    
}

#travelCard-m .card-img{
    width: auto;
    height:200px;    
    position: relative;
    top:0px;
    left:0px;
    z-index:0;
}

#travelCard-m .img-mask{
    display: block;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: -200px;    
    z-index:0;
    /* border-radius:5px 5px 0px 0px */
}

#travelCard-m .text-area{
    display: block;
    height: 200px;    
    position: relative;
    margin-top: -200px;    
    z-index:0;
    color: white;
    padding-top: 25px;
    text-shadow: 2px 2px black;
}

#travelCard-m .btn-align{
    /* margin-top: -5px */
    border-radius: 0px 0px 5px 5px;
}